<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCXhuT1xF5CHE6AN9jQ_YXk_VkVyX2tXnI</string>
	<key>GCM_SENDER_ID</key>
	<string>116032059592</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.meeton.app</string>
	<key>PROJECT_ID</key>
	<string>meeton-9a49c</string>
	<key>STORAGE_BUCKET</key>
	<string>meeton-9a49c.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:116032059592:ios:5db4d5ac99d726c4654dfd</string>
</dict>
</plist>